@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding,5rem);
    font-size: 10px;
    --v:rgb(14, 27, 77);
  --button-clr:rgb(30, 42, 160);
}
body{
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: rgb(15, 16, 53);
}
section{
  padding-top: 2rem;
  /*border: 5px solid rebeccapurple;*/
}
.nave_item{
  /*border: 5px solid green;*/
  font-weight: 700;
  text-transform:capitalize;
  padding: 0.6rem 1rem;
  border-radius: 0.7rem;
  background-color: #136699;
  text-decoration: none;
  color: rgb(253, 253, 255);
}

.hero{
  position: relative;
  padding-top: 0;
}
/*.bg{
  background: url(../images/images-college.jpg);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  background-size: cover;
}*/
#menu{
  display: none;
}
.about{
  background: linear-gradient(0deg,rgba(250, 246, 217, 0.75),rgba(250, 246, 209, 0.75));
  color: rgb(37, 12, 12);
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.home{
  height: 100vh;
  background: linear-gradient(0deg,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url(../images/images-college.jpg) top center;
  display: flex;
  overflow: hidden;
  background-size: cover;
  color: rgb(12, 44, 104);
  margin-bottom: 0;
}
.home h1,.home p{
  font-weight: bolder;
}
.home p{
  font-size: 3rem;
}
.bg_container{
  width: 85%;
  margin: auto;
}
.logo{
  margin: 0.5rem;
}
.top{
    font-family: 'Raleway', sans-serif;
    background-color:rgb(9, 38, 53);
    padding-bottom: 2rem;
    color: rgb(255, 255, 255); 
    margin: 0;
}
#l1{
  width:50px;
  height:60px;
}
#l2{
  width:80px;
  height:60px;
  filter:   invert(0%) sepia(12%) saturate(1442%) hue-rotate(285deg) brightness(91%) contrast(100%);
}#l3{
  width:60px;
  height:50px;
}

.nav_wrapper{
  position :sticky;
  top:0;
  z-index: 1;
}
nav{
  background-color:rgb(9, 38, 53);
  width:100%;
  top:0;
  left: 0;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.navbar{
  margin-left: 0.5rem;
  margin-right: 2rem;
  padding: 0;
  /*border: 5px solid blueviolet;*/
  display: flex;
  width:100%;
  justify-content: space-between;
  list-style: none;
}
.com_grid1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
  grid-auto-rows: 1fr;
}
.com_grid1>.member,.com_grid1>.member>*{
  margin: auto;
  text-align: center;
}
.committies{
  background-color: rgb(255, 255, 255);
  padding: 3rem 0;
}
.international .member .content,.technical .member .content ,.organizing .member .content{
  border: 2.5px solid black;
  border-radius: 0.7rem;
  padding-top: 1rem;
  background: linear-gradient(180deg,#ffe9c5,#ffdba1);
}
.international .member .content p,.technical .member .content p,.organizing .member .content p{
  padding-bottom: 1rem;
}
.member .container{
  border:1px solid rgb(208, 208, 221);
}
.member .container .content p{
  padding-bottom: 1.5rem ;
}
.member .container .content{
  margin-top: 1rem;
}
.member .content{
  display: flex;
  flex-flow: column;
}
.name_p,.designation_p{
  display: inline-block;
  width:100%;
}
.member .content >*{
margin: auto;
text-align: center;
}
.name_p{
  font-weight: bolder;
}
.com_grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-auto-rows: 1fr;
}
.organizing .member{
  width: 90%;
}
.home h1{
  font-size: 4rem;
}
header h1{
  font-size: 3.4rem;
} 
header p,.home p{
  font-size: 1.9rem;
}
h2{
  font-size: 2.6rem;
}
p{
  font-size: 1.6rem;
}
a{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens:auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
header h1,header p,.home h1,.home p,.head{
  margin: 0 auto 1rem auto;
  width: 80%;
  text-transform: uppercase;
  font-weight: bolder;
}
header h1,header p,.home h1,.home p,.head,article p,.contact p,.copyrights,.credits{
  text-align: center;
}
.about_item{
  padding: 0.5rem;
}
.about_item p{
  padding: 0.5rem;
}
.topic_grid,.sponsor_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.topic{
  border: 1px solid black;
}
.topic p{
  padding: 1rem;
  text-align: center;
}
.sponsor_grid .content>*{
  text-align: center;
}
#l4{
  width:20rem;
}
.parent_l4{
  padding: 2rem 0;
}
.fee{
  margin: auto;
  width:80%;
  display:flex;

}
.fee_table{
  margin: 3rem 1.5rem 0 1.5rem;
  width:50%;

}
.fee_cell,.fee_head{
  padding: 1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;

}
.fee_cell{
  background: conic-gradient(rgb(255, 72, 0) ,rgb(255, 145, 0));
}
.fee_head
{
  background: conic-gradient(rgb(0, 174, 255) ,rgb(0, 174, 255));
}
.pay_ul{
  list-style: none;
  margin: auto;
  width: 85%;
}

.contact_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact .container{
  width: 100%;
}
.venue_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  grid-auto-rows: 1fr;
}
.venue_grid>*{
  width: 100%;
}
.btm_grid{
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 1rem;
}
.contact_i{
  width: 64px;
  height: 64px;
}
.wrapper >*{
  margin: auto;
  text-align: center;
}

.head{
  margin-bottom:4rem;
}
.reg_ul{
  width:80%;
  margin: auto;

}
.fee_head p{
  margin: auto;
}
#i1{
  width: 24rem;
  height: 30rem;
}
.dates{
  padding-bottom: 4rem;
  
}
.dates p{
  font-weight:700 ;
}
.date{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row-reverse;
  border: 2px solid black;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  width: 75%;
  background: conic-gradient(rgb(0, 132, 255) ,rgb(0, 238, 255));
}
#l5{
  width:60px;
  height: 50px;
}
.title{
  display: flex;
  align-items: center;
}
.left,.right{
  margin-right: 0.5rem;
  padding: 1rem;
}
.call{
  color: black;
}
.bg_img{
padding-top: 3rem;
  background: #f8f1e7;
 padding-bottom: 3rem;
}
.bg_img p{

  font-weight: bolder;
  color: black;
}
.bg_img a{
  font-weight: 500;
  color: rgb(245, 57, 32);
  text-decoration: none;
} 
.bg_img a:hover{

  font-weight: bold;
  color: rgb(255, 16, 16);
  text-decoration: none;
}  
.bg_img .head {

  font-weight: bolder;
  color: rgb(12, 5, 5);
} 
.guide_ul{
  padding-bottom: 1rem;
}
.topics{
  background-color: #ffffff;
  padding: 3rem 0;
}
.topic{
  background-color: #FFFBF5;/*rgb(255, 255, 255);*/
}
.topic p{
 font-weight: bolder;
}
.topics .head{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.topics_head_p{
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}
.registration
{
background-color:rgb(250, 238, 209);
padding: 3rem 0;
}
.list-group-item{
  background-color: rgb(253, 247, 228);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  text-align: center;
  width:60%;
  margin: auto;
  border: 2px solid black;
}
.registration_link{
  margin: 2rem auto;
  width:20%;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  background-color: rgb(29, 22, 22);
}
.registration_link a{
  text-decoration: none;
  color: snow;
}
.pay_p,.contact_p,.head_p{
  font-weight: bolder;
}
.contact .head,.venue .head{
  margin-bottom: 1.5rem;
}
.contact{
  background-color:rgb(255, 251, 240);
  padding: 3rem 0;
}
.contact p{
  margin-top: 1rem;
}
.contact a{
  font-weight: 700;
  text-decoration: none;
  color: rgb(6, 6, 10);
  
}
.contact a:hover{
  color: rgb(97, 77, 77);
}
#c1{
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.venue{
  background-color: rgb(250, 238, 209);
  padding-bottom: 3rem;
}
.bottom{
  background-color: rgb(16, 21, 34);
  color: #eee;
  padding-bottom: 1rem;
}
.left p{
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.right .title,.left .title{
  border-bottom: 2px solid rgb(23, 62, 192);
}
.right a{
  text-decoration: none;
  color: rgb(23, 194, 23);
}
.right a:hover{
  text-decoration: none;
  color: rgb(74, 240, 74);
}
.venue .right{
  background: linear-gradient(0deg,rgba(13, 20, 41, 0.8),rgba(13, 20, 41, 0.8)),url("../assets/img/venue-info-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  color: snow;
}
.venue .right .container{
  width: 80%;
  padding :rem;
  margin:auto;
}
.venue .right .container h3{
  font-size: 3rem;
}
.venue .right .container p{
  font-size: 2rem;
}
.copyright{
  background-color: rgb(0, 0, 0);
  color: snow;
  padding: 1.5rem;
  margin: 0;
}
#phone{
  transform: rotateY(180deg);
}
.about_item p{
  font-weight: 500;
  line-height: 3rem;
}
.icn{
  display: flex;
  margin:1rem;
}
.btm_para,.about_p{
  text-align: justify;
  text-justify: auto;
}
@media(width <= 1024px){
  .navbar{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 3rem;
  }
  .navbar>*{
    justify-self: center;
  }
}
@media(width<=768px){
  nav{
    flex-flow: column;
  }
  iframe{
    width: 90%;
    height: 100%;
  }
}
@media(width<=425px){
  #l1{
    margin-left: 1rem ;
    margin-right: auto;
  }
  #l2{
    margin:auto;
  }
  root{
    font-size: 8px;
  }
  #menu{
    display: inline-block;
    width: 40px;
    height: 40px;
    align-self:center;
    margin-right: 0;
    margin-left: auto;
  }
  .navbar{
    display: none;
    grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
  row-gap: 0;
  column-gap: 0;
  }
  .navbar>*{
    width: 100%;
    background-color: #136699;
    border-bottom: 1px solid black;
  }
  .nave_item{
    width: 100%;
    border-radius: 0;
  display: inline-block;
  font-weight: 700;
  text-transform:capitalize;
  background-color: #136699;
  text-decoration: none;
  color: rgb(253, 253, 255);
  text-align: center;
  }
  .bg_container{
    width:90%;
  }
  .venue_grid,.sponsor_grid,.com_grid1{
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap:1rem;
    grid-auto-rows: 1fr;
  }
  iframe{
    width:98%;
  }
  .venue .right{
    width:98%;
  }
  .com_grid2{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
  .fee{
    margin: auto;
    width:90%;
    padding: 0;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .fee_table{
    width: 100%;
  }
  .reg_ul{
    margin: 0.7rem auto;
  }
  .date{
    margin: 0.4rem auto;
    width: 100%;
  }
  header .bg_container{
    width:100%;
  }
  header h1{
    font-size:2.1rem ;
  }
  header p{
    font-size: 1.5rem;
  }
  .home .bg_container{
    width: 100dvw;
  }
  .home h1{
    font-weight: bolder;
    font-size:2.5rem ;
  }
  .home p{
    font-size: 1.8rem;
  }
  .contact_grid{
    grid-template-columns: 1fr;
    row-gap: 2rem;
    grid-auto-rows: 1fr;
  }
  #c1{
    border-top: 1px solid #000;;
    border-bottom: 1px solid #000;;
    border-right: none;
    border-left: none;
    padding: 1rem 0;
  } 
  .pay_ul{
    padding: 0;
  }
  .pay_ul>*{
    width:100%;
    margin: auto;
  }
  .registration_link{
    width:60%;
  }
  .btm_grid{
    display: flex;
    flex-flow: column;
  }
  .icn{
    justify-content: space-around;
    margin-left:0;
    width:90%
  }
  .com_grid2{
    grid-template-columns: 1fr;
  }
  
}
